.add-product-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
  
    h1 {
      text-align: center;
      margin-bottom: 50px;
    }
  
    .ant-form {
      label {
        font-weight: bold;
      }
    }
    .ant-upload {
      margin-top: 10px;
    }
  }